@import 'var.css';

.body {
    composes: alert from "@tencent/css-demo-module/index.css";
    color: rebeccapurple;
    transform: translate(10px, 10px);
    width: var(--bodyWidth);
}

:global(.root) {
    border-width: 2px;
    border-style: solid;
    border-color: #777;
    padding: 0 20px;
    margin: 0 6px;
    max-width: 400px;
}

:global .hello {
    color: #fff;
}

.text {
    composes: root from global;
    color: #777;
    font-size: 24px;
    font-family: helvetica, arial, sans-serif;
    font-weight: 600;
}

 